# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build
bin/
obj/
**/bin/
**/obj/

# Rider
.idea/

# VS Code
.vscode/

# Mac
.DS_Store

# Test results
TestResults/
*.trx

# NuGet
*.nupkg
.nuget/

# JetBrains
*.dotCover

# Others
*.log

# Ignore file content index created by VS
.vs/**/FileContentIndex/
